// color
$color-1: hsl(246, 80%, 60%);
$color-2: hsl(15, 100%, 70%);
$color-3: hsl(195, 74%, 62%);
$color-4: hsl(348, 100%, 68%);
$color-5: hsl(145, 58%, 55%);
$color-6: hsl(264, 64%, 52%);
$color-7: hsl(43, 84%, 65%);
$color-8: hsl(226, 43%, 10%);
$color-9: hsl(235, 46%, 20%);
$color-10: hsl(235, 45%, 61%);
$color-11: hsl(236, 100%, 87%);

// size
$size-1: 18px;

// font
